:root {
	/* Colors based on VSCode's "Light+" theme */
	--color-background-hover: #fff;
	--color-background-body: #e5e5e5;
	--color-background-content: #f3f3f3;
	--color-background-code: #fff;
	--color-button: #c06000;
	--color-code-comment: #007f1b;
	--color-code-function: #7a5d2d;
	--color-code-keyword: #b01cd6;
	--color-code-number: #00855b;
	--color-code-string: #a6131c;
	--color-code-type: #1b8097;
	--color-code-variable: #00187c;
	--color-danger: #ef4b53;
	--color-header: #000000;
	--color-faint: #80808080;
	--color-link: #006cad;
	--color-link-current: #402cad;
	--color-text: #000000;
}

/*
Code classes match are those used in the LSP
https://microsoft.github.io/language-server-protocol/specifications/lsp/3.18/specification/#textDocument_semanticTokens
*/
.comment { color: var(--color-code-comment); }
.enum, .interface, .namespace, .type, .typeParameter { color: var(--color-code-type); }
.enumMember, .property { color: var(--color-code-property); }
.function { color: var(--color-code-function); }
.keyword, .modifier { font-weight: bold; color: var(--color-code-keyword); }
.number { color: var(--color-code-number); }
.parameter, .variable { color: var(--color-code-variable); }
.string { color: var(--color-code-string); }
.no-token { font-weight: light; color: var(--color-text); }

@media (prefers-color-scheme: dark) {
	:root:not(.light-mode) {
		/* Must manually keep these in sync with `&.dark-mode` below */
		--color-background-hover: #000;
		--color-background-body: #3c3c3c;
		--color-background-content: #2d2d2d;
		--color-background-code: #1e1e1e;
		--color-button: #ffebbd;
		--color-code-comment: #69985a;
		--color-code-function: #dddbae;
		--color-code-keyword: #c687be;
		--color-code-number: #b5cdaa;
		--color-code-property: #43c3fb;
		--color-code-string: #d0907b;
		--color-code-type: #45c9b1;
		--color-code-variable: #98ddfc;
		--color-danger: #f44b51;
		--color-faint: #858585;
		--color-header: #ffffff;
		--color-link: #ffeedd;
		--color-link-current: #ffe8d7;
		--color-text: #ffffff;
	}
}
:root.dark-mode {
	/* Must manually keep these in sync with `@media (prefers-color-scheme: dark)` above */
	/* Colors based on VSCode's "Dark+" theme */
	--color-background-hover: #000;
	--color-background-body: #3c3c3c;
	--color-background-content: #2d2d2d;
	--color-background-code: #1e1e1e;
	--color-button: #ffebbd;
	--color-code-comment: #69985a;
	--color-code-type: #45c9b1;
	--color-code-property: #43c3fb;
	--color-code-function: #dddbae;
	--color-code-keyword: #c687be;
	--color-code-number: #b5cdaa;
	--color-code-variable: #98ddfc;
	--color-code-string: #d0907b;
	--color-danger: #f44b51;
	--color-faint: #858585;
	--color-header: #ffffff;
	--color-link: #ffeedd;
	--color-link-current: #ffddbb;
	--color-text: #ffffff;
}
