:host {
	display: flex;
	background: var(--color-background-code);
	font-family: "hack";
}
.line-numbers {
	display: inline-block;
	width: 1.5em;
	color: var(--color-faint);
	border-right: 0.1em solid var(--color-faint);
	line-height: 20px;
	text-align: right;
	white-space: pre;
	padding-right: 0.25em;
	margin-right: 0.25em;
}
.measurer {
	visibility: hidden;
	height: 0;
}
.code {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	tab-size: 4;
	font-size: 1em;
	line-height: 20px;
	white-space: pre;
	display: inline-block;
}
.highlight {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.line {
	height: 20px;
}
textarea {
	z-index: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	caret-color: var(--color-text);
	background: transparent;
	line-height: 20px;
	font-size: 1em;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
	white-space: pre;
	font-family: "hack";
}

span.diagnostic {
	border-bottom: 0.2em dotted #e87878;
}

.code[data-tooltip]::after {
	/* why not just move this to the below rule? */
	position: absolute;
	left: calc(var(--tooltip-x) + 1em);
	top: calc(var(--tooltip-y) + 0.5em);
	content: attr(data-tooltip);
	background: var(--color-background-body);
	padding: 0.5em;
	color: var(--color-text);
	border: var(--color-faint);
	max-width: 50em;
	text-wrap: wrap;
}
.code.hover-diagnostic[data-tooltip]::after {
	border: 1px dotted var(--color-danger);
}
