table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
table th {
	padding: 0;
	width: 33%;
}
table td {
	padding: 0;
	width: 33%;
}
input {
	padding-left: 0.5em;
	padding-right: 0;
	width: calc(100% - 0.5em);
	font-family: "hack";
	font-size: 105%;
	border: none;
	color: var(--color-text);
	border: 1px solid var(--color-faint);
	background: var(--color-background-code);
}
input:focus-visible {
	outline: none;
	background: var(--color-background-body);
}
